header {width: 100%; height: 80px; background:$color-main-bg; position: fixed; left: 0; top: 0; z-index: 1000; box-shadow:0 4px 10px rgba(black, 0.2);
	.container {display:flex; height: 80px; align-items: center;}
	.logo {display: block; width: 180px;}
	
	.menuOpener {display: none;}
	.menuOpener + label {display: flex; width: 30px; height: 30px; background:url(../images/icon-menu.png) center center no-repeat; background-size:30px; margin-left: auto;
		@include mq("desktop") {
			display: none;
		}
	}

	nav {opacity: 0; transform: translateX(100%); transition: .2s; flex-direction: column; width: 100%; padding: 20px 0; background: $color-main-bg; position: absolute; left: 0; top: 100%;
		a {display: block; font-size: 20px; text-align: center; color: #000;
			& + a {margin-top: 10px;}
			&:hover {color: $color-def-red;}
			@include mq("desktop") {
				margin:0 10px;
				& + a {margin-top:0;}
			}
		}
		@include mq("desktop") {
			display: flex; flex-direction:row; width: auto; padding: 0; position: static; margin-left: auto;  opacity: 1; transform: translateX(0);
		}
	}

	.menuOpener:checked + label + nav {display: block; opacity: 1; transform: translateX(0);}

	.cta {
		display: none;
		@include mq("desktop") {
			display: flex; height: 40px; padding: 20px; background: $color-def-red; color: #FFF; font-weight: 700; border-radius:$border-radius; margin-left: 20px; align-items:center;}
		}
}