.homeIntro {
	background:url(../images/introBg.jpg) center top fixed / cover;
	text-align: center;
	
	.container {
		display: flex;
	    flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 200px);
		color: #FFF;
	}

	.title {
		font-family: 'Roboto Slab', Open Sans, Arial;
		font-weight: 700;
		font-size: 32px;
		margin-bottom: 15px;
		@include mq("small") {
			font-size: 42px;
		}
		@include mq("large") {
			font-size: 48px;
		}
	}

	.spot {
		font-size: 16px;
		margin-bottom: 25px;
		@include mq("small") {
			font-size: 18px;
		}
	}

	.search {
		width: 300px;
		@include mq("small") {
			width: 500px;
		}
		form {
			display: flex;
			
			input[type=text] {
    	        flex-grow: 1;
				height:60px;
				padding:0 15px;
		        background: #FFF;
		        border:none;
    	        border-radius: $border-radius 0 0 $border-radius;
			}

			button {
				display: flex;
		        align-content: center;
		        justify-content: center;
		        flex-shrink: 0;
		        width: 60px;
		        font-size: 32px;
		        background: #FFF;
		        border-radius:0 $border-radius $border-radius 0;
		        cursor: pointer;
		        &:hover {
		        	background: $color-light-grey;
		        }
			}
		}
	}
}

.homeHighlights {
	margin-top: 40px;
	margin-bottom: 40px;
	@include mq("desktop") {
		margin-top: -60px;
	}
	
	.container {
		display: flex;
    	justify-content: space-between;
    	flex-wrap:wrap;
    	@include mq("desktop") {
			flex-wrap:no-wrap;
		}
	}
	
	.item {
		display: flex;
		width: 100%;
		height: auto;
        flex-direction: row;
		padding: 15px;
		background: white;
		box-shadow: 1px 1px 15px rgba(black, 0.1);
		border:1px solid #dfdfdf;
		border-bottom:4px solid $color-def-orange;
		margin-bottom: 20px;
		@include mq("small") {
			flex-direction: column;
	        align-items:center;
	        text-align: center;
			width: calc(50% - 10px);
			height: 310px;
		}
		@include mq("desktop") {
			width: 240px;
			height: 340px;
			margin-bottom: 0;
		}
		
		.icon {
			flex-shrink:0;
			font-size: 60px;
			color: rgba(black, 0.2);
			margin-right: 10px;
			@include mq("small") {
				font-size: 100px;
				margin-right: 0;
				margin-bottom: 15px;
			}
		}

		.text {
			display: flex;
        	flex-direction: column;
        	flex-grow:1;
        	
        	.title {
				font-family: 'Roboto Slab', Open Sans, Arial;
				font-weight: 700;
				font-size: 22px;
				margin-bottom: 15px;
			}

			.go {
				margin-top: 15px;
				margin-bottom: 15px;
				color: $color-def-orange;
				@include mq("small") {
					margin-top: auto;
				}
			}
		}
	}
}