@import "normalize";
@import "simtonit";
@import "variables";
@import "mixin";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans:400,700&subset=latin-ext');

body {background:$color-main-bg; padding-top: $topbar-height; font-family:'Open Sans', Arial, sans-serif; font-size: 16px;}

.container {max-width: $max-width; padding:0 10px; margin:0 auto; position: relative;}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@import "header";

@import "home";
