/* Media Query **/
@mixin mq($width: "tablet") {
	@if ($width == "small") {
		@media (min-width: 640px) { @content }
	}

	@if ($width == "tablet") {
		@media (min-width: 768px) { @content }
	}
	@else if (
		$width == "desktop") {
			@media (min-width: 992px) { @content }
	} 
	@else if ($width == "large") {
		@media (min-width: 1200px) { @content }
	}
}