$color-main-bg: #FFFFFF;
$color-def-red: #F91C19;
$color-def-orange: #FB7119;
$color-light-grey: #cccccc;

$max-width: 1200px;
$topbar-height:80px;

$border-radius: 5px;

/*
$color-light: #B8AE9C;
$color-medium: #70664d;
$color-dark: #8A0917;
$c3: #FFFFFF;
$c4: #ACCFCC;
*/